html {
    background-image: url(/images/bats.gif);
    background-repeat: repeat;         /* repeats both directions*/
}
body {
    font-family: Ariel, Helvetica, "sans-serif";
    font-size: 100%;
    width: 800px;
    padding: 10px;               /* all four sides */
    margin: 1em auto;
    border: 1px solid black;
    box-shadow: 1px 1px 20px 13px black;        /* all four sides */
    background-color: white;
    border-width: thick
    
}
header{
    background-image: linear-gradient(45deg, white 4%, orange 66%, black)
}
main h1:first-child::first-letter { font-size: 300%; }
header h2, h3 {
    text-indent:  .3em;
    margin-bottom: -.5em;
    
}
img {
    float: left;
    margin-left: 10px;
    margin-top: -1px;
}
header h2{
    font-size: 200%;
    font-weight: 800;
    margin-bottom: -20px;
}
header h3{
    font-size: 120%;
    font-weight:800;
    border-bottom: solid black;
    padding-bottom: 10px
}
main li { font-weight: 700; }
ul a { color: darkorange; }
main li :hover { color: green;}
}
footer {border-top: solid}
footer {font-size: 14px}
footer { text-align: center; }
footer {
    background-image: linear-gradient(45deg, black, orange 66%, white);
    padding-bottom: 2em;
}
footer p{
    margin-top: 1px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: -15px
}